.abCont{
    display:flex;
    height:auto;
    width:100%;
    padding-bottom:100px;
    display:flex;


}
.descP {
  font-size: 45px;
  text-align: center;
  width:100%;
  height:auto;
  min-height:400px;
  padding-left:40px;
  padding-right:40px;
  margin:auto;
  display:flex;
  flex-direction:column;
  float:right;
  background-color:#214eb4;
  background-image: url('../../Assets/bg.png')

}
.words{
    margin-top:50px;
    color:white;
    float:right;
    text-align:left;
    padding-right:50px;
}

.butH{
    margin-left:150px;
    width:45%;
    height:auto;
    display:flex;
    align-items:center;
    border-radius:10px 0 0 10px;
    background-image: url('../../Assets/liq.svg');
    background-size:cover;

}
.button{
    margin-top:90px;
    width:50%;
    text-align:left;
    color:white;
    font-size:60px;
    padding-left:0;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    border-top: 10px solid white;
    border-image: linear-gradient(to right, #eee 50%, transparent 40%) 100% 1;

}
.button:active{
    transform: translateY(3px)
}
  .button:after, .button:before{
    border-radius: 3px
}

.button:hover{

    background-color: transparent;
    box-shadow: none;
    color: offwhite;
}
